<html>
    <head><title>Home Page</title></head>
    <body>
        <div>
            <h1>Hi!</h1>
            <p>Welcome to <span th:text="${appName}"></span></p>
            <p>This template contains:</p>
            <ul>
                <li><a href="https://projects.spring.io/spring-boot/">Spring boot</a></li>
                <li>An example of <a href="https://docs.spring.io/spring/docs/current/spring-framework-reference/web.html">Spring MVC</a> (model/view/controller)</li>
                <li><a href="http://www.thymeleaf.org/">Thymeleaf</a> integration for the views</li>
                <li>Persistence <a href="https://projects.spring.io/spring-data-jpa/">Spring data jpa</a></li>
                <li>Spring boot <a href="https://docs.spring.io/spring-boot/docs/current/reference/html/using-boot-devtools.html">devtools</a> to make development easier</li>
            </ul>
        </div>
    </body>
</html>